*, html, body {
    font-family: 'Raleway', sans-serif;
    outline: none;
}

button {
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 10px;
    border: none;
    background-color: lightgrey;
}