.appGrid {
    display: grid;
    grid-template-columns: 300px auto;

    .searchArea {
        background-color: rgb(192, 192, 192);
        padding: 10px;

        h1 {
            font-size: 30px;
            font-weight: 700;
        }

        form {
            padding: 10px 0;

            input {
                padding: 10px;
                font-size: 15px;
            }
        }

        #resultsArea {
            
            .dish {
                background-color: white;
                border: 1px solid grey;
                border-radius: 4px;
                display: inline-block;
                padding: 5px;
                cursor: pointer;

                .dishPic img {
                    max-width: 100px;
                }

                .dishName {
                    font-size: 20px;
                    font-weight: bold;
                }
                .restaurantName {
                    font-weight: 12px;
                }
                .dishRating {

                }
                .dishNumber {

                }
                .dishPrice {

                }
            }
        }
    }
    #focusArea {
        header {
            background-color: pink;
            .focusName {
                font-size: 70px;
                font-weight: 700;
            }
            .focusInfo {
                display: flex;
                .focusRestaurant {
                    padding-right: 10px;
                    font-weight: 500;
                    font-size: 25px;
                }
                .focusRating {
                    padding-right: 10px;
                }
                .focusReviewCount {
                    padding-right: 10px;
                }
            }
        }
        .focusPhotos {
            img {
                max-width: 200px;
            }
        }
        .focusReviews {
            border: 1px solid grey;
        }
    }
}