/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, html, body {
  font-family: 'Raleway', sans-serif; }

.appGrid {
  display: grid;
  grid-template-columns: 300px auto; }
  .appGrid .searchArea {
    background-color: silver;
    padding: 10px; }
    .appGrid .searchArea h1 {
      font-size: 30px;
      font-weight: 700; }
    .appGrid .searchArea form {
      padding: 10px 0; }
      .appGrid .searchArea form input {
        padding: 10px;
        font-size: 15px; }
    .appGrid .searchArea #resultsArea .dish {
      background-color: white;
      border: 1px solid grey;
      border-radius: 4px;
      display: inline-block;
      padding: 5px;
      cursor: pointer; }
      .appGrid .searchArea #resultsArea .dish .dishPic img {
        max-width: 100px; }
      .appGrid .searchArea #resultsArea .dish .dishName {
        font-size: 20px;
        font-weight: bold; }
      .appGrid .searchArea #resultsArea .dish .restaurantName {
        font-weight: 12px; }
  .appGrid #focusArea header {
    background-color: pink; }
    .appGrid #focusArea header .focusName {
      font-size: 70px;
      font-weight: 700; }
    .appGrid #focusArea header .focusInfo {
      display: flex; }
      .appGrid #focusArea header .focusInfo .focusRestaurant {
        padding-right: 10px;
        font-weight: 500;
        font-size: 25px; }
      .appGrid #focusArea header .focusInfo .focusRating {
        padding-right: 10px; }
      .appGrid #focusArea header .focusInfo .focusReviewCount {
        padding-right: 10px; }
  .appGrid #focusArea .focusPhotos img {
    max-width: 200px; }
  .appGrid #focusArea .focusContentGrid .focusReviews .focusReview {
    border: 1px solid grey; }
    .appGrid #focusArea .focusContentGrid .focusReviews .focusReview .reviewHeader {
      display: flex;
      background-color: green; }
      .appGrid #focusArea .focusContentGrid .focusReviews .focusReview .reviewHeader .reviewPFP {
        background-color: yellow;
        max-width: 50px; }
        .appGrid #focusArea .focusContentGrid .focusReviews .focusReview .reviewHeader .reviewPFP img {
          width: 100%;
          border-radius: 50%; }
      .appGrid #focusArea .focusContentGrid .focusReviews .focusReview .reviewHeader .reviewUser {
        font-size: 20px;
        font-weight: bold; }
      .appGrid #focusArea .focusContentGrid .focusReviews .focusReview .reviewHeader .reviewRating {
        width: 120px;
        background-color: pink; }
        .appGrid #focusArea .focusContentGrid .focusReviews .focusReview .reviewHeader .reviewRating svg {
          max-width: 100px; }
  .appGrid #focusArea .focusContentGrid .focusRelated .relatedRestaurant {
    background: #ab82ee; }
    .appGrid #focusArea .focusContentGrid .focusRelated .relatedRestaurant h1 {
      font-size: 20px;
      font-weight: bold; }
    .appGrid #focusArea .focusContentGrid .focusRelated .relatedRestaurant .restaurantDishes .restaurantDish {
      display: flex;
      background-color: green; }
      .appGrid #focusArea .focusContentGrid .focusRelated .relatedRestaurant .restaurantDishes .restaurantDish .dishName {
        font-size: 20px; }

/*# sourceMappingURL=main.css.map */
