/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, html, body {
  font-family: 'Raleway', sans-serif;
  outline: none; }

button {
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 10px;
  border: none;
  background-color: lightgrey; }

.appGrid {
  display: grid;
  grid-template-columns: 300px auto; }
  .appGrid .searchArea {
    background-color: silver;
    padding: 10px; }
    .appGrid .searchArea h1 {
      font-size: 30px;
      font-weight: 700; }
    .appGrid .searchArea form {
      padding: 10px 0; }
      .appGrid .searchArea form input {
        padding: 10px;
        font-size: 15px; }
    .appGrid .searchArea #resultsArea .dish {
      background-color: white;
      border: 1px solid grey;
      border-radius: 4px;
      display: inline-block;
      padding: 5px;
      cursor: pointer; }
      .appGrid .searchArea #resultsArea .dish .dishPic {
        max-width: 70px; }
        .appGrid .searchArea #resultsArea .dish .dishPic img {
          width: 100%;
          border-radius: 10px; }
      .appGrid .searchArea #resultsArea .dish .dishName {
        font-size: 20px;
        font-weight: bold; }
      .appGrid .searchArea #resultsArea .dish .restaurantName {
        font-weight: 12px; }
  .appGrid #focusArea {
    padding: 20px; }
    .appGrid #focusArea header .focusName {
      font-size: 70px;
      font-weight: 700; }
    .appGrid #focusArea header .focusInfo {
      display: flex;
      padding: 20px 0; }
      .appGrid #focusArea header .focusInfo .focusRestaurant {
        padding-right: 10px;
        font-weight: 500;
        font-size: 25px; }
      .appGrid #focusArea header .focusInfo .focusRating {
        padding-right: 10px; }
      .appGrid #focusArea header .focusInfo .focusReviewCount {
        padding-right: 10px; }
    .appGrid #focusArea .focusPhotos img {
      max-width: 200px;
      max-height: 150px; }
    .appGrid #focusArea .focusContent .focusMeta {
      display: flex;
      padding: 20px 0; }
      .appGrid #focusArea .focusContent .focusMeta .focusItem {
        display: flex;
        margin-right: 10px; }
        .appGrid #focusArea .focusContent .focusMeta .focusItem .focusItemCheck svg {
          width: 24px; }
        .appGrid #focusArea .focusContent .focusMeta .focusItem .focusItemValue {
          font-size: 20px;
          font-weight: bold; }
      .appGrid #focusArea .focusContent .focusMeta .focusMenu {
        padding: 10px;
        border-radius: 10px;
        background-color: #c5c5c5; }
        .appGrid #focusArea .focusContent .focusMeta .focusMenu .menuText {
          font-weight: bold;
          font-size: 20px;
          display: inline-block; }
          .appGrid #focusArea .focusContent .focusMeta .focusMenu .menuText a {
            text-decoration: none;
            color: black; }
    .appGrid #focusArea .focusContent .focusContentGrid {
      display: grid;
      grid-template-columns: auto 500px;
      grid-gap: 20px; }
      .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviewBar {
        display: flex;
        margin-bottom: 10px; }
        .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviewBar .focusTitle {
          font-size: 40px;
          font-weight: bold;
          margin-right: 20px; }
        .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviewBar .submitAppear {
          background-color: lightgray;
          border-radius: 10px; }
      .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviewSubmitArea .submit .submitInfo input[type=text] {
        font-size: 20px;
        font-weight: bold;
        border: none;
        padding: 10px; }
      .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviewSubmitArea .submit textarea {
        width: 500px;
        height: 150px;
        font-size: 16px;
        border-radius: 10px;
        border: none;
        padding: 10px;
        box-shadow: 4px 3px 19px 1px rgba(0, 0, 0, 0.15); }
      .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviewSubmitArea .submit .submitControls .submitButton, .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviewSubmitArea .submit .submitControls .cancelButton {
        cursor: pointer; }
      .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviewSubmitArea .submit .submitControls .submitButton {
        background-color: grey; }
      .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews {
        margin-top: 20px; }
        .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview {
          margin-bottom: 20px; }
          .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader {
            display: flex; }
            .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewPFP {
              max-width: 45px;
              margin-right: 10px; }
              .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewPFP img {
                width: 100%;
                border-radius: 50%; }
            .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewHeaderText {
              display: grid;
              grid-template-columns: 1fr; }
              .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewHeaderText .reviewUser {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 5px; }
              .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewHeaderText .row2 {
                display: flex; }
                .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewHeaderText .row2 .reviewRating {
                  width: 120px; }
                  .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewHeaderText .row2 .reviewRating svg {
                    max-width: 100px; }
                .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewHeaderText .row2 .reviewDate {
                  font-size: 15px; }
            .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .editBtn {
              height: 15px;
              font-size: 14px;
              padding: 10px;
              border-radius: 10px;
              margin-left: 15px;
              background-color: #e9e9e9;
              cursor: pointer; }
          .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewContent {
            padding: 5px; }
            .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewContent .reviewTitle {
              font-weight: bold;
              margin-bottom: 5px;
              font-size: 20px; }
            .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewContent .reviewBody {
              font-size: 18px; }
      .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant {
        background-color: white;
        border-radius: 5px;
        padding: 10px; }
        .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant h1 {
          font-size: 20px;
          font-weight: bold;
          padding-bottom: 10px; }
        .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant .restaurantDishes .restaurantDish {
          display: flex; }
          .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant .restaurantDishes .restaurantDish .dishThumb {
            max-width: 75px; }
            .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant .restaurantDishes .restaurantDish .dishThumb img {
              width: 100%;
              border-radius: 10px; }
          .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant .restaurantDishes .restaurantDish .row2 {
            display: grid; }
            .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant .restaurantDishes .restaurantDish .row2 .dishName {
              font-size: 20px; }

.submit .submitInfo input[type=text], .submit .editInfo input[type=text], .edit .submitInfo input[type=text], .edit .editInfo input[type=text] {
  font-size: 20px;
  font-weight: bold;
  border: none;
  padding: 10px; }
.submit textarea, .submit .editBody, .edit textarea, .edit .editBody {
  width: 500px;
  height: 150px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  box-shadow: 4px 3px 19px 1px rgba(0, 0, 0, 0.15); }
.submit .submitControls .submitButton, .submit .submitControls .submitButtonEdit, .submit .editControls .submitButton, .submit .editControls .submitButtonEdit, .edit .submitControls .submitButton, .edit .submitControls .submitButtonEdit, .edit .editControls .submitButton, .edit .editControls .submitButtonEdit {
  cursor: pointer;
  background-color: grey; }
.submit .submitControls .deleteButton, .submit .editControls .deleteButton, .edit .submitControls .deleteButton, .edit .editControls .deleteButton {
  background-color: #db294f; }

/*# sourceMappingURL=main.css.map */
