/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, html, body {
  font-family: 'Raleway', sans-serif;
  outline: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

button {
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 10px;
  border: none;
  background-color: lightgrey; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.appGrid {
  display: grid;
  grid-template-columns: 350px auto;
  height: 100%; }
  .appGrid .searchArea {
    background-color: #f0f0f0;
    border-right: 1px solid rgba(128, 128, 128, 0.164); }
    .appGrid .searchArea h1 {
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      padding: 15px 0;
      padding-bottom: 10px; }
    .appGrid .searchArea form {
      padding: 10px;
      width: 100%; }
      .appGrid .searchArea form input {
        padding: 10px;
        font-size: 15px;
        border-radius: 5px;
        display: inline-block; }
      .appGrid .searchArea form #searchBar {
        border: 1px solid #525252;
        width: 240px; }
      .appGrid .searchArea form #searchSubmit {
        background-color: grey;
        color: white;
        font-size: 16px;
        border: 1px solid grey;
        cursor: pointer; }
    .appGrid .searchArea #resultsArea #resultsAreaMessage {
      padding: 15px;
      color: #a8a8a8;
      line-height: 1.3;
      font-size: 20px;
      text-align: center;
      font-weight: lighter; }
    .appGrid .searchArea #resultsArea .dish {
      display: flex;
      padding: 5px 10px;
      cursor: pointer;
      width: 100%;
      height: 70px;
      box-sizing: border-box;
      animation: fadeIn 0.5s; }
      .appGrid .searchArea #resultsArea .dish .dishPic {
        max-width: 60px; }
        .appGrid .searchArea #resultsArea .dish .dishPic img {
          width: 100%;
          border-radius: 10px; }
      .appGrid .searchArea #resultsArea .dish .dishText {
        display: grid;
        padding-left: 10px;
        padding-top: 8px; }
        .appGrid .searchArea #resultsArea .dish .dishText .dishName {
          font-size: 20px;
          font-weight: bold;
          height: 0px; }
        .appGrid .searchArea #resultsArea .dish .dishText .row2 {
          display: flex;
          align-items: center;
          height: 70px; }
          .appGrid .searchArea #resultsArea .dish .dishText .row2 .restaurantName {
            font-weight: 12px;
            padding-right: 10px; }
          .appGrid .searchArea #resultsArea .dish .dishText .row2 .dishPrice {
            padding-left: 10px; }
    .appGrid .searchArea #resultsArea .dish:hover {
      background-color: white; }
  .appGrid #focusArea {
    padding: 30px; }
    .appGrid #focusArea #focusAreaMessage {
      padding: 15px;
      color: #a8a8a8;
      line-height: 1.3;
      font-size: 40px;
      text-align: center;
      font-weight: lighter;
      margin-top: 50px; }
    .appGrid #focusArea header {
      animation: fadeIn 0.5s; }
      .appGrid #focusArea header .focusName {
        font-size: 70px;
        font-weight: 700; }
      .appGrid #focusArea header .focusInfo {
        display: flex;
        padding: 20px 0; }
        .appGrid #focusArea header .focusInfo .focusRestaurant {
          padding-right: 10px;
          font-weight: 500;
          font-size: 25px; }
        .appGrid #focusArea header .focusInfo .focusRating {
          padding-right: 10px; }
        .appGrid #focusArea header .focusInfo .focusReviewCount {
          padding-right: 10px;
          padding-top: 3px; }
        .appGrid #focusArea header .focusInfo .focusPrice {
          padding-top: 3px; }
    .appGrid #focusArea .focusPhotos {
      animation: fadeIn 0.5s; }
      .appGrid #focusArea .focusPhotos img {
        max-width: 200px;
        height: 150px;
        padding-left: 5px; }
    .appGrid #focusArea .focusContent {
      animation: fadeIn 0.5s; }
      .appGrid #focusArea .focusContent .focusMeta {
        display: flex;
        padding: 20px 0; }
        .appGrid #focusArea .focusContent .focusMeta .focusItem {
          display: flex;
          margin-right: 10px;
          padding-top: 5px; }
          .appGrid #focusArea .focusContent .focusMeta .focusItem .focusItemCheck {
            padding-right: 10px; }
            .appGrid #focusArea .focusContent .focusMeta .focusItem .focusItemCheck svg {
              width: 24px; }
          .appGrid #focusArea .focusContent .focusMeta .focusItem .focusItemValue {
            font-size: 20px;
            font-weight: bold; }
        .appGrid #focusArea .focusContent .focusMeta .focusMenu {
          padding: 10px;
          margin-left: 10px;
          border-radius: 10px;
          background-color: #ebebeb; }
          .appGrid #focusArea .focusContent .focusMeta .focusMenu .menuText {
            font-size: 16px;
            display: inline-block; }
            .appGrid #focusArea .focusContent .focusMeta .focusMenu .menuText a {
              text-decoration: none;
              color: black; }
      .appGrid #focusArea .focusContent .focusContentGrid {
        display: grid;
        grid-template-columns: auto 500px;
        grid-gap: 20px;
        max-width: 1000px; }
        .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviewBar {
          display: flex;
          margin-bottom: 10px; }
          .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviewBar .focusTitle {
            font-size: 40px;
            font-weight: bold;
            margin-right: 20px; }
          .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviewBar .submitAppear {
            background-color: #ececec;
            border-radius: 10px;
            cursor: pointer;
            animation: fadeIn 0.5s; }
        .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews {
          margin-top: 20px; }
          .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview {
            margin-bottom: 23px;
            animation: fadeIn 0.5s; }
            .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader {
              display: flex; }
              .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewPFP {
                max-width: 45px;
                margin-right: 10px; }
                .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewPFP img {
                  width: 100%;
                  border-radius: 50%; }
              .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewHeaderText {
                display: grid;
                grid-template-columns: 1fr; }
                .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewHeaderText .reviewUser {
                  font-size: 20px;
                  font-weight: bold;
                  margin-bottom: 5px;
                  text-transform: capitalize; }
                .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewHeaderText .row2 {
                  display: flex; }
                  .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewHeaderText .row2 .reviewRating {
                    width: auto;
                    padding-right: 10px; }
                    .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewHeaderText .row2 .reviewRating svg {
                      max-width: 100px; }
                  .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .reviewHeaderText .row2 .reviewDate {
                    font-size: 15px; }
              .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewHeader .editBtn {
                height: 34px;
                font-size: 14px;
                padding: 10px;
                border-radius: 10px;
                margin-left: 15px;
                background-color: #e9e9e9;
                cursor: pointer; }
            .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewContent {
              padding: 5px;
              padding-top: 10px; }
              .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewContent .reviewTitle {
                font-weight: bold;
                margin-bottom: 5px;
                font-size: 20px; }
              .appGrid #focusArea .focusContent .focusContentGrid .focusReviews .reviews .focusReview .reviewContent .reviewBody {
                font-size: 17px;
                line-height: 1.3; }
        .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant {
          border-radius: 5px;
          padding: 10px;
          max-height: 450px;
          overflow: hidden; }
          .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant h1 {
            font-size: 20px;
            font-weight: bold;
            padding-bottom: 10px; }
          .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant .restaurantDishes .restaurantDish {
            display: flex;
            padding-top: 5px;
            animation: fadeIn 0.5s;
            cursor: pointer; }
            .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant .restaurantDishes .restaurantDish .dishThumb {
              max-width: 60px; }
              .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant .restaurantDishes .restaurantDish .dishThumb img {
                width: 100%;
                border-radius: 10px; }
            .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant .restaurantDishes .restaurantDish .row2 {
              display: grid;
              padding-left: 10px;
              padding-top: 6px; }
              .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant .restaurantDishes .restaurantDish .row2 .dishName {
                font-size: 20px;
                height: 10px; }
              .appGrid #focusArea .focusContent .focusContentGrid .focusRelated .relatedRestaurant .restaurantDishes .restaurantDish .row2 .dishRating {
                height: 20px; }

.submit, .edit {
  animation: fadeIn 0.5s; }
  .submit .submitInfo input[type=text], .submit .editInfo input[type=text], .edit .submitInfo input[type=text], .edit .editInfo input[type=text] {
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 10px;
    padding-left: 0; }
  .submit textarea, .submit .editBody, .edit textarea, .edit .editBody {
    width: 100%;
    height: 150px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #d4d4d4; }
  .submit .submitControls .submitButton, .submit .submitControls .submitButtonEdit, .submit .editControls .submitButton, .submit .editControls .submitButtonEdit, .edit .submitControls .submitButton, .edit .submitControls .submitButtonEdit, .edit .editControls .submitButton, .edit .editControls .submitButtonEdit {
    cursor: pointer;
    background-color: grey; }
  .submit .submitControls .cancelButton, .submit .submitControls .cancelButtonEdit, .submit .editControls .cancelButton, .submit .editControls .cancelButtonEdit, .edit .submitControls .cancelButton, .edit .submitControls .cancelButtonEdit, .edit .editControls .cancelButton, .edit .editControls .cancelButtonEdit {
    cursor: pointer; }
  .submit .submitControls .deleteButton, .submit .editControls .deleteButton, .edit .submitControls .deleteButton, .edit .editControls .deleteButton {
    background-color: #db294f;
    cursor: pointer; }

.svgStar {
  width: 18px;
  height: 20px;
  margin-right: 2px; }

.ratingStar {
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
